### 리스트 & 튜플

#### 리스트 초기화

In [1]:
# [] 안에 값을 담아서 생성
# list() 함수로 생성
# str.split()함수로 생성

## 순서 : 0, 중복 : 0, 수정 : 0, 삭제 : 0

# list - mutable(생성후에 변경 가능)
# tuple - immutable(생성후에 변경 불가능)

In [5]:
# 리스트 선언
a = []
# type(a)

b = list()
type(b)

c = [1,3,4,5,7]
print(c)

[1, 3, 4, 5, 7]

In [7]:
li = ['korea', 'america', 1, 11, 33, [3,7]]

print(li)

['korea', 'america', 1, 11, 33, [3, 7]]

In [12]:
a = 'hello world'

# list() 함수는 다른 데이터 타입을 리스트로 변환할 때도 사용한다.
b = list(a)
print(b)

c = (1,2,3)
d = list(c)
print(d)

a = 'hello world nice weather'
b = a.split() # 기본적으로 띄어쓰기로 구분

print(b)

['hello', 'world', 'nice', 'weather']

In [16]:
# 리스트 인덱싱
a = [1,2,3,4,5,6]

print(a[3])
print(a[-1])


b = [10, 100, ['pen', 'cap', 'plate']]

print(b[2][1])

4
6
cap

In [21]:
# 문자열은 불변(immutable)
a = 'hello world'
print(a[0])

# a[0] ='k'

d = a.replace('h', 'k')
print(d)

print(a) # a는 바뀌지 않음

h
kello world
hello world

In [22]:
a = [1,2,3,4]

# 문제> 1 -> 100, 4->90으로 변경하세요
a[0] = 100
a[-1] = 90

print(a)

[100, 2, 3, 90]

### 리스트 슬라이싱
- 슬라이싱의 결과 역시 list

In [27]:
e = [10, 100, ['pen', 'cap', 'plate']]

# 문제1> 슬라이싱 결과 -> [10, 100]   
# 문제2> 슬라이싱 결과 ->  ['cap', 'plate']

print(e[0:2])
print(e[2][1:3])

[10, 100]
['cap', 'plate']

### 리스트 연산

In [36]:
c = [1,2,3,4]
d =[10, 100, ['pen', 'cap', 'plate']]

print(c + d)
print(c * 3)

# 문제> 리스트 c와, 'h'를 활용하여 출력결과가 '1h' 가 되도록 하세요 

print(str(c[0]) + 'h')

c[1:2] = [10, 10, 100]
print(c)
c[1] = ['a', 'b', 'c']
print(c)

del c[1]
print(c)

[1, 2, 3, 4, 10, 100, ['pen', 'cap', 'plate']]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
1h
[1, 10, 10, 100, 3, 4]
[1, ['a', 'b', 'c'], 10, 100, 3, 4]
[1, 10, 100, 3, 4]

### list 멤버함수
- 생성된 리스트 객체에서 동작하는 함수

In [41]:
# append()
a = [1,2,3,4]
a.append(100)

print(a)

# extend()
a = [1,2,3]
b = [6,7,8]

a.append(b)
print(a)

# a.extend(b)
# print(a)

[1, 2, 3, 4, 100]
[1, 2, 3, [6, 7, 8]]

In [44]:
# insert() : 원하는 위치에 추가
a = [1,2,3,4,5]
a.insert(1, 100)
print(a)

# remove() : 값으로 항목 삭제
a = [1,2,3,4,5]
# a.remove(2)

print(a)

[1, 100, 2, 3, 4, 5]
[1, 3, 4, 5]

In [49]:
# pop()
a = [1,2,3,4,5]

# a.pop()
# a.pop()
# a.pop()
# a.pop()
# a.pop()
# a.pop()

d = a.pop(2)

print(d)


print(a)

3
[1, 2, 4, 5]

In [50]:
# index() : 찾고자 하는 값의 인덱스를 반환
a = [2, 6, 7, 9, 10]
a.index(9)

3

In [51]:
# in 키워드 : True나 False를 반환
a = [1,2,3,4,5]

b = 10

c = b in a

print(c)

False

### list 정렬
- sort() --> 리스트 자체를 내부적으로 정렬
- sorted() --> 리스트의 정렬된 복사본을 반환

In [57]:
a = [9, 10, 7, 19, 1, 2, 20, 21, 7, 8]

# a.sort() # 기본적으로 오름차순 정렬
# a.reverse() # 내림차순

# a.sort(reverse=True)

b = sorted(a)

print(a)
print(b)

[9, 10, 7, 19, 1, 2, 20, 21, 7, 8]
[1, 2, 7, 7, 8, 9, 10, 19, 20, 21]

### tuple

In [66]:
# 순서 : 0, 중복 : 0, 수정 : X, 삭제 : X

# 변경되지 않아야 할 값들을 저장할 때 사용

a = ()
print(type(a))

b = (1,)
c = (1, 2, 3, 4)
d = (10, 100, 'Pen', 'Cap', 'Hat')
e = (10, 100, ('Pen', 'Cap', 'Hat'))

# del c[2]
# c[0] = 100

print(c[2])
print(e[2][1])

aa = 11, 22
print(type(aa))

c, d = 100, 200
print(c, d)

3
Cap
<class 'tuple'>
100 200

In [70]:
# 문제>  a 와 b 값을 교환 하시오.

a = 100
b = 200

# a = b
# b = a

# 기존 언어의 교환 방식
# temp = a
# a = b
# b = temp

# 파이썬의 교환방식
a, b = b, a

print(a, b)

200 100

In [74]:
# 튜플 함수
a = (5, 2, 3, 1, 4, 4)

print(a.index(4)) # 중복인 경우 첫번째 값 반환
print(a.index(3))
print(a.index(5))

print(a.count(4))

4
2
0
2