### for 반복문
- 리스트, 문자열 같은 순회 가능한 객체를 순회하면서 값을 처리할 때 사용
- 모든 아이템이 순회가 되면 for문 블록 종료

In [1]:
a = [1, 2, 4, 3, 5]

for i in a:
    print(i, i*2)
    
print('gggggg')

1 2
2 4
4 8
3 6
5 10
gggggg

In [2]:
a = [1, 2, 4, 3, 5]

for number in a:
    print(number)

print('gggggg')

1
2
4
3
5
gggggg

In [3]:
for x in 10: # 순회할 수 없는 숫자(iterable 객체가 아니기 때문에)는 에러, 
    print(x)
    
# 순회할 수 있는 객체 ---> iterable 객체

TypeError: 'int' object is not iterable

In [5]:
a = 'hello world'

for character in a:
    print(character)
    
name = 'KennRy'    
print('-----')
for n in name:
    if n.isupper():
        print(n)
    else:
        print(n.upper())

h
e
l
l
o

w
o
r
l
d
-----
K
E
N
N
R
Y

In [6]:
# 리스트의 아이템을 출력
a = [1,10, 3, 4, 5]

for num in a:
    if num % 2 == 0:
        print(num/2)
    else:
        print(num+1)
    print(num)

2
1
5.0
10
4
3
2.0
4
6
5

In [12]:
# 딕셔너리 아이템 출력하기
a = {'korea':'seoul', 'japan':'tokyo', 'canada':'ottawa'}

# for k in a:
# #     print(k, a[k])
#     print(k)

# for value in a.values():
#     print(value)

print(a.items())

for key, value in a.items():
    print(key, value)

dict_items([('korea', 'seoul'), ('japan', 'tokyo'), ('canada', 'ottawa')])
korea seoul
japan tokyo
canada ottawa

In [18]:
# for문을 이용해서 리스트를 순회하는 경우, 값만 추출함.

a = [1,2,3,4,5]

# enumerate() : 순서를 알고 싶을 때 사용(인덱스와 원소값을 튜플형태로 반환)
p = enumerate(a) 
print(p)

for p in enumerate(a):
    print(p)

for i, v in enumerate(a):
    print("index : {}, value: {}".format(i, v))

for index, num in enumerate(a):
    if index > 3:
        print(index, num)

<enumerate object at 0x000002AF722CB800>
(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
index : 0, value: 1
index : 1, value: 2
index : 2, value: 3
index : 3, value: 4
index : 4, value: 5
4 5

### loop 중첩

In [19]:
a = [1 ,2, 4]

for i in a:
    for j in a:
        print(i * j)

1
2
4
2
4
8
4
8
16

In [21]:
x = [2,3,4,5,6,7,8,9]
y = [1,2,3,4,5,6,7,8,9]

for i in x:
    for j in y:
        print(i, '*', j, '=', i*j )

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [26]:
# a = list(range(1, 201))
# print(a)

list(range(1, 101, 5))

# 문제> 1부터 100사이에 숫자에서 5의 배수만을 갖는 리스트를 생성하세요.
list(range(5, 101, 5))

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [ ]:
# 문제 1> 구구단을 2 ~ 9단까지 출력하세요.(단, while문을 이용해서)
x = 2
while x <=9:
    y = 1
    while y <= 9:
        print(x, '*', y, '=', x*y)
        y+=1
    x += 1

In [ ]:
# 문제 2> 1 ~ 100까지의 정수 중에 2의 배수 또는 11의 배수를 모두 출력하세요.
#       (for문, range()함수) 

nums = list(range(1, 101))
for x in nums:
    if x % 2 == 0 or  x % 11 == 0:
        print(x)

In [ ]:
# 문제 3> 다음 리스트에서 for문과 while문을 이용하여 평균을 구해 보세요.
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]

# while문
i = 0
_sum = 0
while i < len(a):
    _sum +=a[i]
    i += 1
print(_sum / len(a)) 

# for문
_sum = 0
for x in a:
    _sum += x
    
print(_sum / len(a))

In [28]:
# 문제 > 아래 리스트에서 최대값과 최소값을 찾으세요.
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]

# 최소값
_min = a[0]
for x in a:
    if x < _min:
        _min = x
print(_min)        

# 최대값
_max = a[0]
for x in a:
    if x > _max:
        _max = x
print(_max)

1
99

In [29]:
# sort 함수를 이용한 최대, 최소값 구하기
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]

a.sort() # 오름 차순으로 정렬
a[0], a[-1]

(1, 99)

### List Comprehension
- 리스트를 쉽게 만들어 주는 방법(기법)

In [32]:
# 1 부터 100까지 리스트를 만드는 일반적인 방법

numbers = []

for n in range(1,101):
    numbers.append(n)
print(numbers)    

print()

numbers2 = [x for x in range(1,101)]
print(numbers2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [33]:
# 문제> 다음 리스트 중에서 '정'글자를 제외하고 출력하세요

str = ['갑', '을', '병', '정']


# [리스트에 포함(append)할 변수(표현식) for 항목 in iterable객체 if 조건 ]
str2 = [x for x in str if x != '정']

print(str2)

['갑', '을', '병', '정']